<!-- TODO: USUARIO AUTENTICADO:  -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss  PRINCIPAL -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- TODO: HEADER  -->
    <app-header></app-header>

    <!-- TODO: SIDEBAR  -->
    <app-sidebar></app-sidebar>

	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <app-breadcrumbs></app-breadcrumbs>

            <router-outlet></router-outlet>


            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- TODO: CONTENIDO  -->
            <!-- ============================================================== -->
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->


            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card block.
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->

        <!-- TODO: FOOTER  -->
        <footer class="footer">
            2022 Todos los derechos reservados | Trilogic.
        </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>

